Icon-Video Player/
clean-kotlin-blueprint/
anime-download-hub-main/
anidrive-stream-finder-main/
Animebox website/
.netlify/
*.png
!logo (1).png
!app showcase screenshots/*.png
!app showcase screenshots/*.jpg
!Animebox website/**/*.png
!Animebox website/**/*.jpg
!Animebox website/**/*.svg
!Animebox website/**/*.webp
*.jpg
!app showcase screenshots/*.jpg
!Animebox website/**/*.jpg

# OS & IDE
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
hs_err_pid*.log

# Gradle & Build artifacts
.gradle/
build/
app/build/
library/build/
*.apk
*.aar
