Icon-Video Player/
clean-kotlin-blueprint/
anime-download-hub-main/
anidrive-stream-finder-main/
Animebox website/
anime-scraper-v1/
animebox-admin/
lovable api/
multimoviesapi/
Animestudio's logo/
.netlify/

# Extractors and proprietary download engines
animebox/app/src/main/java/com/lagradost/cloudstream3/ui/animebox/extractors/
animebox/app/src/main/java/com/lagradost/cloudstream3/ui/animebox/download/

*.png
!fireflytransparentlogo.png
!FireFlyHomescreenlogo.png
!logo (1).png
!app showcase screenshots/*.png
!app showcase screenshots/*.jpg
!Animebox website/**/*.png
!Animebox website/**/*.jpg
!Animebox website/**/*.svg
!Animebox website/**/*.webp
*.jpg
!app showcase screenshots/*.jpg
!Animebox website/**/*.jpg

# OS & IDE
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db
hs_err_pid*.log
replay_pid*.log

# Gradle & Build artifacts
.gradle/
build/
app/build/
library/build/
*.apk
*.aar

